{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<section class="other-section"> 
        <h3>EDIT YOUR PROFIL</h3>
        <div id="edit-btn">
            <a href="{{path('app_profil')}}">PROFIL</a>
            <a href="">EDIT TRACKS</a>
        </div>  
            <div class="container">
                {{ form_start(form) }}
                <div class"agree-terms">
                {{ form_widget(form)}}
                <button class="btn-save">SAVE</button>
                {{ form_end(form) }}
            </div>
</section>
{% endblock %}