{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<section class="other-section"> 
        <h3>EDIT YOUR MUSIC</h3>
        <div id="edit-btn">
            <a href="{{path('app_profil')}}">PROFIL</a>
            <a href="{{path('app_stream')}}">STREAM</a>
        </div>  
            <div class="container">
            </div>
</section>
{% endblock %}