{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}
<section class="global-container"> 
        <h3>DASHBOARD</h3>  
        <p>Welcome in the admin space</p>      
</section>
{% endblock %}
