{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}
<section class="global-container"> 
        <h3>DASHBOARD</h3>  
        <p>Welcome administrator</p>    
        <a href="{{path('app_homepage')}}">Back on website</a>
</section>
{% endblock %}
