{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
   <section>
            <h2>
               <a href="#">START STREAM</a>
            </h2>
   </section>
{% endblock %}
