* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    outline: none;
}

p {
    font-family: 'avenir';
    color: black;
    letter-spacing: 3px;
}

a {
    font-family: 'avenir';
    letter-spacing: 3px;
    color: black;
}






