* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    outline: none;
}

p {
    font-family: 'avenir';
    color: black;
    letter-spacing: 3px;
}

a {
    font-family: 'avenir';
    color: black;
}

button, input {
    border: 0px;
    cursor: pointer;
}

.hover-fx {
    transition: 0.7s;
    transform: scale(0.98);
    &:hover {
        transform: scale(1);
    }
}

.info-message {
    background-color: black;
    font-family: 'avenir';
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    a {
        color: white;
        border-bottom: 1px solid white;
        margin-right: 5px;
    }
}

h1 {
    color: white;
    font-family: 'avenir';
    font-size: 3rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-bottom: 40px;
}

h2 {
    color: rgb(255, 255, 255);
    font-family: 'avenir';
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
    // margin-bottom: 30px;
}

h3 {
    color: black;
    font-family: 'avenir';
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.big-btn {
    font-size: 1rem;
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'avenir';
    letter-spacing: 3px;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border-radius: 30px;
    margin-top: 50px;  
}

.middle-btn {
    font-size: 0.8rem;
    width: 120px;
    height: 30px;
    padding: 2px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Avenir';
    color: white;
    background-color: black;
    border-radius: 30px;
    transition: 0.8s;
    transform: scale(1);
    &:hover {
        transform: scale(1.04);
    }
}

.small-btn {
font-size: 0.9rem;
width: 100px;
height: 20px;
padding: 3px;
// margin-top: 20px;
align-items: center;
display: flex;
justify-content: center;
align-items: center;
font-family: 'Avenir';
color: white;
background-color: black;
 border-radius: 30px;
transition: 0.8s;
transform: scale(1);
    &:hover {
    transform: scale(1.04);
    }
}










