// SECTION DES PAGES AUTRE QUE LA PAGE "STREAM" //
// SECTION OF PAGES OTHER THAN THE "STREAM" PAGE //
.global-container {
    min-height: 85vh;
    width: 100%;
    background-image: url('../images/background/universound.jpg');
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-attachment: fixed;
    transition: 1s;
    .container {
        width: 50%;
        min-height: 273px;
        background-color: white;
        padding: 50px;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('../images/background/texture-container7bis.jpg');
        background-size: cover;
        p {
            margin-top: 9px;
            font-size: 14px;
            letter-spacing: 1px;
            text-align: center;
            font-weight: 600;
            a {
                color: rgba(0, 3, 3, 0.591);
                font-style: bold;
                letter-spacing: 0.5px;
            }
        }
        .vich-file {
            display: flex;
            flex-direction: column;
            height: 0px;
            input {
                padding: 0px;
                &:hover {
                    background-color: (#10315535);
                }  
            }
        }
        // MODIFICATION DU STYLE DU FORMULAIRE D'ENREGISTREMENT UTILISATEUR //
        // MODIFICATION OF THE STYLE OF THE USER REGISTRATION FORM //
        :nth-child(9) {
            >div {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 183px;
                height: 30px;
                margin: auto;
                border: 1.6px solid rgb(0, 0, 0);
                border-radius: 5px;
                margin-top: 40px;
                text-align: center;
                background-color: white;
                input {
                    padding: 20px;
                }
                label {
                    font-size: 8px;
                }
            }
        }
    }
}


