section {
    height: 85vh;
    width: 100%;
    background-image: url('/assets/images/background/universound.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-attachment: fixed;
    // background-blend-mode: overlay;
    // background-color: rgba(0, 0, 0, 0.639);
    transition: 1s;
    // &:hover {
    //     background-blend-mode: overlay;
    //     background-color: rgba(0, 0, 0, 0);
    // }
}