section {
    min-height: 65vh;
    #container-top-section {
        width: 100%;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .logo-universound {
            width: 100px;
            height: 100px;
            border: 0px;
            margin-bottom: 30px;
            transform: rotateY(45deg);  
            animation: rotateAnimation 3s linear infinite;
            border-radius: 100px;
            margin-top: 50px;
            @keyframes rotateAnimation {
                from {transform: rotateY(0deg);}
                to {transform: rotateY(360deg);}
            }
        }
        p {
            font-style: italic;
            color: white;
        }
    }
    // SECOND CONTAINER //
    #container-middle-section {
        display: flex;
        width: 100%;
        .lastnews {
            width: 100%;
            height: 80vh;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            // CAROUSSEL D'IMAGES //
            // IMAGE CAROUSEL //
            .caroussel-image {
                width: 350px;
                height: 350px;
                overflow: hidden;
                border: 3px solid black;
                margin: auto;
                transform: scale(1);
                transition: 0.8s;
                &:hover {
                    transform: scale(1.1);
                }
                .images {
                    display: flex;
                    animation-duration: 13s;
                    animation-name: mesImages;
                    animation-iteration-count: infinite;
                    height: 350px;
                    width: 350px;
                    img {
                    height: 350px;
                    width: 350px;
                    }
                }
                @keyframes mesImages {
                    0% {
                        transform: translateX(0);
                        background-color: white;
                    }
                
                    25% {
                        transform: translateX(-350px);
                        background-color: white;
                    }
                
                    50% {
                        transform: translateX(-700px);
                        background-color: white;
                    }
                
                    75% {
                        transform: translateX(-1050px);
                        background-color: white;
                    }
                
                    100%{
                        transform: translateX(0);
                        background-color: white;
                    }
                }
            }
           // TEXT CAROUSEL //
            .caroussel-texte {
                width: 350px;
                height: auto;
                overflow: hidden;
                border: 3px solid black;
                margin: auto;
                margin-top: 40px;
                border-radius: 10px;
                >div {
                    display: flex;
                    height: 100px;
                    .carrousel-info {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        background-color: white;
                        p {
                            font-size: 13px;
                            font-style: italic; 
                        }
                        .home-artist-name {
                            text-transform: uppercase;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: rgb(255, 255, 255);
                            font-size: 1rem;
                            font-weight: 400;
                            letter-spacing: 5px;
                            text-transform: uppercase;
                        }
                        p, .home-artist-name {
                            color: black;
                            background-color: white;
                            height: auto;
                            width: 350px;
                            animation-duration: 13s;
                            animation-name: monTexte;
                            animation-iteration-count: infinite;
                            text-align: center;
                            height: 100%;
                            margin-top: 20px;
                            @keyframes monTexte {
                                0% {
                                    transform: translateX(0);
                                    background-color: white;
                                }
                            
                                25% {
                                    transform: translateX(-350px);
                                    background-color: white;
                                }
                            
                                50% {
                                    transform: translateX(-700px);
                                    background-color: white;
                                }
                            
                                75% {
                                    transform: translateX(-1050px);
                                    background-color: white;
                                }
                            
                                100%{
                                    transform: translateX(0);
                                    background-color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
    } 
    // THIRST CONTAINER //
    #container-bottom-section {  
        height: auto;
        width: 50%;
        padding: 50px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 100px;
        background-blend-mode: overlay;
        background-color: rgba(0, 0, 0, 0.81);
        background-image: url('../images/background/texture-container7bis.jpg');
        transition: background-color 0.8s;
        background-size: cover;
        border: 1px solid white;
        text-align: center;
        p {
            opacity: 1;
            letter-spacing: 1px;
            font-size: 14px;
            &:nth-child(2) {
                font-style: italic;
                font-size: 0.8rem;
                margin-top: 20px;
            }
        }
        a {
            margin-top: 20px;
            opacity: 0.5;
        }
        &:hover {
            background-color: rgba(0, 0, 0, 0);
            a {
                opacity: 1;
            }
        }
    }
}