section {
    height: 85vh;
    width: 100%;
    background-image: url('/assets/images/background/universound.jpg');
    box-sizing: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.639);
    transition: 1s;
    &:hover {
        background-blend-mode: overlay;
        background-color: rgba(0, 0, 0, 0);
    }

    h2 {
        font-size: 2rem;
        font-weight: 200;
        width: auto;
        transform: scale(0.9);
        transition: 0.6s;
        
        &:hover {
            transform: scale(1);
        }
        a {
            color: white;
            // border: 1px solid white;
            padding: 10px;
            transition: 0.6s;
            &:hover {
                background-color: black;
                color: white;
                border: 1px solid white;
            }
        }
    }   
}