// HOME //

#profil {
    a {
        margin-top: 40px;
        letter-spacing: 0px;
        font-size: 9px;
        background: rgb(10,44,79);
        background: linear-gradient(214deg, rgba(10,44,79,1) 16%, rgba(39,31,42,0.9051995798319328) 100%);
        color: white;
        font-weight: bold;
        border-radius: 100px;
        border: 1px solid black;
        transition: 0.6s;
        &:hover {
            opacity: 0.7;
        }
    }
}


// COMMENTS //

// .user-comments {
//     min-height: 40vh;
//     padding-top: 40px;
//     width: 300px;
//     background-color: white;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     background-image: url('../images/background/texture-container7bis.jpg');
//     background-size: cover;
//     span {
//         display: flex;
//         flex-direction: column;
//         height: 1px;
//         background-color: black;
//         margin-top: 10px;
//         opacity: 0.3;
//         color: rgba(255, 0, 0, 0.358);
//         width: 80%;
//     }

//     h2 {
//         color: black;
//     }
//     #comment-date {
//         font-style: italic;
//         font-size: 12px;
//         margin-top: 10px;
//         opacity: 0.5;
//     }
//     .update-delete-comment {
//         width: 100%;
//         text-align: center;
//         display: flex;
//         justify-content: space-evenly;
//         align-items: center;
//         margin-top: 10px;
//         form {
//             button {
//                 color: rgb(213, 28, 28);
//             }
//         }
//         i {
//             font-size: 15px;
//             width: 30%;
//         }
//     }
// }