// HOME //

#profil {
    a {
        margin-top: 40px;
        letter-spacing: 0px;
        font-size: 9px;
        background: rgb(10,44,79);
        background: linear-gradient(214deg, rgba(10,44,79,1) 16%, rgba(39,31,42,0.9051995798319328) 100%);
        color: white;
        font-weight: bold;
        border-radius: 100px;
        border: 1px solid black;
        transition: 0.6s;
        &:hover {
            opacity: 0.7;
        }
    }
    span {
        max-width: 250px;
        word-break: break-word;
    }
}