
@media screen and (max-width:768px) {

    // HEADER - NAV //
    header {
        height: 100px;
        #header-top {
            #header-elements {
                width: auto;
                height: 100px;
                justify-content: center;
                align-items: center;
                .logo {
                    .logo-universound {
                        width: 60px;
                    }
                .typo-universound {
                    height: 7vh;
                    }
                }
            }
            #social-media>a {
                display: none;
            }
        }

        // MENU BURGER //

        nav {
            position: relative;
            margin: 0px;
            padding: 0px;
            width: 100%;
            .liens {
                display: none;
            }
            .menu-burger {
                display: flex;
                flex-direction: column;
                transition: 1s;
                .menu-1 {
                color: black;
                transition: 1s;
                    #burger {
                        font-size: 60px;
                        position: absolute;
                        right: 25px;
                        top: -15px;
                    }
                    .sous-menu-burger {
                        display: none;
                    }   
                } 
                &:hover .menu-1 {
                    color: black;
                    &:hover .sous-menu-burger {
                        animation: fadeIn 0.4s;
                        @keyframes fadeIn {
                            0% {opacity:0;}
                            100% {opacity:1;}
                          }
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        top: 46px;
                        left: 0px;
                        background-color: black;
                        margin: auto;
                        width: 100vw;
                        height: 70vh;
                        z-index: 1;
                        justify-content: space-evenly;
                        padding: 0px;
                        margin: 0px;
                        .menu-2 {
                            height: 100px;
                            justify-content: center;
                            align-items: center;
                            border-bottom: 1px solid rgba(255, 255, 255, 0.132);
                            a {
                            color: white;
                            }
                            #reseaux-sociaux-mobile {
                                margin-right: 20px;
                                font-size: 20px;
                            }
                        }
                    }
                }            
            }
        }
    }


    // HOMEPAGE //
    h1 {
        font-size: 30px;
    }
    #container-2-homepage {
        display: flex;
        flex-wrap: wrap;
    }

    // STREAM PAGE //
    #container-track {
        width: 80%;
        height: auto;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        #artwork {
            margin: auto;
        }
        #infos-track {
            text-align: center;
            margin-top: 30px;
            padding-bottom: 30px;
            #artistandtitle {
                margin-bottom: 30px;
            }
            #container-btn-track {
                flex-direction: column;
                margin: auto;
                a {
                    margin-top: 15px;
                }
                button {
                    height: 15px;
                }
            }
        }

    }
}
@media screen and (max-width:580px) {
    section {
        text-align: center;
    }
}

@media screen and (max-width:425px) {

    // HEADER // 

    header>#header-top>#header-elements>.logo>a>.typo-universound {
        height: 3vh;
    }
    header>#header-top>#header-elements>.logo>.logo-universound {
        width: 40px;
    }

    // HOMEPAGE //

    section {
        text-align: center;
        #container-3-homepage {
            height: auto;
        }
    }

    // STREAM // 

    #container-track {
        width: auto;
        #infos-track {
            width: auto;
            height: auto;
            .infos-track-details {
                width: auto;
                margin-bottom: 15px;
                span {
                    margin: inherit;
                }
                p {
                    letter-spacing: 0px;
                }
            }
        }
    }
    .other-section>.container {
        width: auto;
    }
    
}

@media screen and (max-width:375px) {
    .middle-btn {
        height: 30px;
        width: 100px;
    }

    h2 {
        font-size: 12px;
    }
}

@media screen and (max-width:320px) {

    section>#container-2-homepage>#container-lastnews>.caroussel {
        width: 175px;
        height: 175px;
        .images {
        width: 175px;
        height: 175px;
                img {
                    width: 175px;
                    height: 175px;
                    @keyframes mesImages {
                        0% {
                            transform: translateX(0);
                            background-color: white;
                        }
                    
                        25% {
                            transform: translateX(-175px);
                            background-color: white;
                        }
                    
                        50% {
                            transform: translateX(-350px);
                            background-color: white;
                        }
                    
                        75% {
                            transform: translateX(-700);
                            background-color: white;
                        }
                    
                        100%{
                            transform: translateX(0);
                            background-color: white;
                        }
                    }
                }
        }
    }
    section>#container-3-homepage {
        width: auto;
        margin: 20px;
        p {
            font-size: 12px;
        }
    }

    .middle-btn {
        height: 25px;
        width: 90px;
    }
}

