// CONTAINER QUI ENGLOBE LES DIFFERENTS MORCEAU DE MUSIQUE //
// CONTAINER THAT ENGLOBS THE VARIOUS PIECES OF MUSIC //

#container-track {
    width: 50%;
    height: auto;
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    background-image: url('/assets/images/background/texture-container7.jpg');
    background-size: cover;
    box-sizing: border-box;
    background-color: rgba(100, 89, 135, 0.66);
    background-blend-mode: darken;
    span {
        label {
            font-family: 'avenir';
            color: white;
        }
        input {
            height: 40px;
            width: 100%;
            font-family: 'avenir';
        }
        button {
            font-family: 'avenir';
            background-color: black;
            border: 0px;
            color: white;
            padding: 5px 20px;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            margin-top: 20px;

        }
    }

    #artwork {
        width: auto;
        height: auto;
        margin-right: 50px;
    }
    #infos-track {
        height: auto;
        width: 70%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        #artistandtitle {
            display: flex;
            flex-direction: column;
            p {
                margin-bottom: 30px;
                color: white;
                font-style: italic;
            }
        }
        .infos-track-details {
            display: flex;
            margin-bottom: 10px;
            &:last-child {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            p {
                font-weight: 500;
                color: white;
            }
            span {
                font-style: italic;
                font-family: 'avenir';
                margin-bottom: 10px;
                color: white;
            }
        }

        #container-btn-track {
            width: 100%;
            height: 30px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .middle-btn {
            &:last-child {
                background-color: white;
                color: black;
                font-size: 15px;
                i {
                    margin-right: 7px;
                }
            }
            a {
                color: white;
                font-size: 0.8rem;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
        #btn-like {
            width: 130px;
            height: 30px;
            background-color: white;
            border-radius: 30px;
            cursor: pointer;
            &:hover {
                opacity: 0.8;
            }
        }
    }
}


// QUAND IL N'Y A AUCUN MORCEAU DE MUSIQUE PRESENT DANS LA SECTION STREAM //
// WHEN THERE IS NO MUSIC IN THE STREAM SECTION //

.empty {
    height: 85vh;
    #empty-container {
        height: 60vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
            #empty-container-in {
            height: 40vh;
            width: 650px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border: 1px solid white;
            flex-direction: column;
            background-image: url('/assets/images/background/texture-container7bis.jpg');
            background-size: cover;
            box-sizing: border-box;
            border-radius: 30px;
            padding: 50px 50px 50px 50px;
            h2 {
                color: black;
                justify-content: center;
                align-items: center;
            }
            p {
                font-style: italic;

            }
        }
    }   

}