// SECTION DES PAGES AUTRE QUE LA PAGE "STREAM" //
// SECTION OF PAGES OTHER THAN THE "STREAM" PAGE //

.other-section {
    height: auto;
    width: 100%;
    background-image: url('/assets/images/background/universound.jpg');
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-attachment: fixed;
    transition: 1s;
    .container {
        width: 50%;
        height: auto;
        background-color: white;
        padding: 50px;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url('/assets/images/background/texture-container7bis.jpg');
        background-size: cover;
        .vich-file {
            display: flex;
            flex-direction: column;
            input {
                font-size: 0.8rem;
                padding: 0px;
            }
        }

        // MODIFICATION DU STYLE DU FORMULAIRE D'ENREGISTREMENT UTILISATEUR //
        // MODIFICATION OF THE STYLE OF THE USER REGISTRATION FORM //

        :nth-child(9) {
            >div {
                display: flex;
                align-items: center;
                justify-content: center;
                width: auto;
                height: 50px;
                margin: auto;
                border: 1px solid rgba(0, 0, 0, 0.413);
                margin-top: 40px;
                text-align: center;
                input {
                    padding: 20px;
                }
                label {
                    font-size: 0.7rem;
                }

            }
        }
    }
}

// SI IL N'Y A PAS DE MUSIQUE DANS LA PARTIE STREAM //
// STREAM IF THERE IS NO MUSIC IN THE PART //
