<header>
        <div id="header-top">
            <div id="header-elements">
                <div id="logo">
                    <img src="./images/logo/universound.jpg" id="typo-universound"></img>
                    <img src="./images/logo/logo.jpg" id="logo-universound">
                </div>
                    
                <div class="social-media">
                    <a href="http://facebook.com"><i class="fab fa-facebook-f"></i></a>
                    <a href="http://twitter.com"><i class="fab fa-twitter"></i></a>
                    <a href="http://instagram.com"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
            <nav>
                <ul>
                    <li>
                        <a href="{{path('app_homepage')}}">HOME</a>
                    </li>
                    <li>
                        <a href="{{path('app_stream')}}">STREAM</a>
                    </li>
                    <li>
                        <a href="#">UPLOAD</a>
                    </li>
                    <li>
                        <a href="#">LOGIN</a>
                    </li>
                    <li>
                        <a href="{{path('app_register')}}">REGISTER</a>
                    </li>
                </ul>
            </nav>
    </header>
