{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
<section>
    <h3>{{ error }} - {{ message }}</h3>
    <a class="big-btn" href="{{path('app_stream')}}"><button class="big-btn" >Back to posts</button>
</section>
{% endblock %}
