{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
 <section class="empty"> 
    <h1>UPLOAD</h1>
        <div id="empty-container">
            <div id="empty-container-in">
                <h2>{{ error }} - {{ message }}</h2>
                <a class="middle-btn" href="{{path('app_stream')}}">Back to posts</a>
            </div>     
    </div>
</section>
{% endblock %}
