{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <section class="other-section"> 
        <h3>STREAM</h3>
        {% for track in tracks %}  
            <div id="container-track">
                <div id="artwork">
                </div>
                <div id="infos-track">
                    <h4>{{ track.title }} - {{ track.artist }}</h4>
                    <p>Player</p>
                    <div id="container-btn-track">
                        <div id="details-track"><a href="#">details</a>
                            {# <ul "details-track-dropdown">
                                <li>Release date</li>
                                <li>Label</li>
                                <li>Genre</li>
                                <li>Description</li>
                                <li>Time</li>
                            </ul> #}
                        </div>
                        <button type="button" id="btn-like"><i class="fas fa-heart"></i></button>
                    </div>
                </div>
            </div>
        {% else %}
        <div id="container-track">
            <div id="infos-track">
                <p>No Records found</p>
        {% endfor %}
    </section>
{% endblock %}
